@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Hahmlet:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#container {
    margin: 0 auto;
    width: 1200px;
}
/*헤더 영역*/
header{
    width: 100%; /*너비*/
    height: 100px;
    background-color:#07c;
}
ul{
    list-style: none;
}
/*로고 영역*/
#logo {
    float: left;  /*왼쪽으로 플로팅*/
    width: 250px;
    height: 100px;
    background-color: indigo;
    line-height: 100px;
    padding-left: 20px;
}
#logo h1 {
    font-family:'Hahmlet', serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}
/*내비게이션 영역*/
nav {
    float: right;
    width: 900px;
    height: 100px;
    background-color: green;
}

#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow:hidden;
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float:left;
    width: 600px;
    height: 100%;
    background-color: violet;
}
#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}
</style>
