* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    width: 1200px;
}

/*헤더 영역*/
header {
    width: 100%;
    /*너비*/
    height: 100px;
    background-color: blue;
}

/*로고 영역*/
#logo {
    float: left;
    /*왼쪽으로 플로팅*/
    width: 250px;
    height: 100px;
    background-color: indigo;
}

/*내비게이션 영역*/
nav {
    float: right;
    width: 900px;
    height: 100px;
    background-color: green;
}

#slideShow {
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contents {
    width: 100%;
    height: 300px;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    margin-top: 10px;
}

#tabMenu input[type="radio"] {
    display: none;
}

#tabMenu label {
    display: inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}

#tabMenu label:hover {
    color: #222;
    cursor: pointer;
}

#tabMenu input:checked+label {
    color: #b00;
    border: 1px solid #ddd;
    background-color: #eee;
}

.tabContent {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.tabContent h2 {
    display: none;
}

#notice ul {
    list-style: disc;
    margin-left: 30px;
}

#notice ul li {
    font-size: 16px;
    line-height: 2.5;
}

#gallery ul li {
    display: inline;
}

#links {
    float: right;
    width: 600px;
    height: 100%;
    /* background-color: skyblue; */
}

footer {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: gray;
}

#tab1:checked~#notice,
#tab2:checked~#gallery {
    display: block;
}